.sidebar {
  position: fixed;
  left: -230px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: left 0.3s ease;
  padding: 20px;
  top: 0;
}

.sidebar:hover {
  left: 0;
}

.sidebar:hover .sidebar-title {
  opacity: 0;
}

.sidebar-title {
  position: absolute;
  transform: rotate(90deg);
  right: 0;
  top: 100px;
  transition: opacity 0.3s ease-in;
}

.sidebar-list {
  list-style: none;
}

.sidebar-list-item {
  text-transform: uppercase;
  transition: color 0.3s ease;
  margin-bottom: 20px;
}

.sidebar-list-item::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  background-color: #e17827dd;
  transform: rotate(45deg);
  margin-right: 10px;
}

.sidebar-list-link {
  color: inherit;
  text-decoration: none;
}

.sidebar-list-item:hover,
.sidebar-list-link:hover {
  color: #e17827dd;
}
